:root {
  --main-color: #4c92b1;
  --header-height: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--main-color);

  display: flex;
  justify-content: space-between;
}

header div {
  margin: auto 20px auto 20px;
}

header div.title {
  color: #ffffff;
}
