@import "./variable.scss";

.history {
  display: flex;
  flex-direction: column;
  // min-width: px;

  .history-div {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    .history-label-income,
    .history-income-amount {
      color: $blue-color;
      margin-left: 0.5rem;
    }

    .history-label-outcome,
    .history-outcome-amount {
      color: $mint-color;
      margin-left: 0.5rem;
    }

    .history-outcome-amount {
    }
  }
}
